h2 Join a Game

- if (games.length)
  ul Available Games:
    for game in games
      li
        a(href='/game/' + game.id)
          img(src='https://graph.facebook.com/' + game.id + '/picture')
          #{game.owner} - #{game.id} - CHANGE TO TIME STARTED
- else
  p 
  | No Games Found! <a href="/game/start">Start One?</a>
