h2 Join a Game

- if (games)
  ul#game-list 
    for game, game_id in games
      li
        img(src='https://graph.facebook.com/' + game_id + '/picture')
        a(class="button", href='/game/' + game_id)
          #{game.owner} 
- else
  p 
  | No Games Found! <a href="/game/start">Start One?</a>
