h2 Join a Game

- if (games)
  ul Available Games:
    for game, game_id in games
      li
        a(href='/game/' + game_id)
          img(src='https://graph.facebook.com/' + game_id + '/picture')
          #{game.owner} - #{game_id} - CHANGE TO TIME STARTED
- else
  p 
  | No Games Found! <a href="/game/start">Start One?</a>
