h2 What up #{user.first_name}?

p You can use the ScorePad to track scores for anything. Just create a game or join one of your friends. Inside the game any user can interact and see the scores update in realtime.

p No more searching for pens or writing on the back of envelopes. Just have everyone pull out their phones and enter in their own scores!

ul#record 
  li Wins: #{user.wins} 
  li Losses: #{user.losses}


ul#game-actions
  - if (user_has_game)
    li: a(class="button", href="/game/#{user.id}") Rejoin Game?
    li: a(class="button", href="/game/start") Reset Game?
  - else
    li: a(class="button", href="/game/start") Start a Game?
  - if (games)
    li: a(class="button", href="/game/join") Join A Game?
