/* type */
html, body, #body {
 /* font-family: Arial, Arial, Helvetica, sans-serif;
 */
}
a {
  text-decoration: none;
}
/* layout */

#body {
}
a {
}
nav#footer{
}
td, th {
  text-align: center;
}
ul {
}
table{
  margin-bottom: 5px;
}
li {
}

li {
  display: inline;
}

/* color */

h1, h2, h3 {
  color: #FFF;
}
a, a:visited, a:active {
}

/* effects */
#player-list tr {
  cursor: pointer;
}
tr.active {
  color: #FFA33F;
}
.hidden{
  display: none;
}
