html, body {
}
#body {
  left: 0;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
}
.active {
  color: red;
}
nav#footer{
  margin-top: 10px;
}
ul {
  padding: 0;
}
li {
  padding: 5px;
}
nav#footer ul, nav#footer ul li, #player-actions, #player-actions li, #game-action, #game-actions li {
  display:inline;
}
